/********Base component*********/
.nav-wrapper {
    background-color: #8993be ;
}
.screen {
    width: 1500px;
    height: 900px;
    margin: auto;
    position: relative;
}

.card .card-content {
    padding: 5px;
}
.card {

}
.flash-success {
    margin: 30px 247px 20px 240px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 16px;
    color: #449592;
    text-align: center;
    background-color: #B2EEE0;
    border:1px solid #449592;
    border-radius: 10px;
}
.flash-error {
    margin-top: 30px;
    margin-bottom: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 16px;
    color:#900C3F;
    text-align: center;
    background-color: #EEC0B2;
    border:1px solid #900C3F;
    border-radius: 10px;
}
.flash-alert {
    margin-top: 30px;
    margin-bottom: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 16px;
    color:#e0a800;
    text-align: center;
    background-color: #eeff41;
    border: 1px solid #e0a800;;
    border-radius: 10px;
}