body {
    background-color: lightgrey;
}

/**
Add Task Form Component
*/
.card.add_task_form {
    margin-top:300px;
    width: 700px;
    height: 300px;
        float: left;
}
.card.add_task_form .card-content {
    padding-left: 50px;
    padding-top: 30px;
    border:none;
}
.float-right {
    text-align: right;
}
textarea#task_name  {
    width: 500px;
    background-color: white;
}
input#expiry_date {
    width: 150px;
    background-color: white;
}
/**
Todos Lists Component
*/
.card.todos_lists {
    width: 700px;
    height: 850px;
    margin: 25px;
    float: left;
}
.card.todos_lists .card-content {
    padding: 20px;
    border:none;
}
.todos_lists textarea {
    width: 660px;
    height: 220px;
    background-color: white;
}
