body {
    background-color: #85C7DE;
}

/**
Add Task Form Component
*/
.card.add_task_form {
    margin-top:300px;
    width: 700px;
    height: 300px;
    background-color: #CFE8EF;

    float: left;
}
.card.add_task_form .card-content {
    padding-left: 50px;
    padding-top: 50px;
    border:none;
}
textarea#task_name  {
    width: 500px;
    background-color: white;
}
input#expiry_date {
    width: 150px;
    background-color: white;
}
/**
Todos Lists Component
*/
.card.todos_lists {
    width: 700px;
    height: 850px;
    background-color: #C6DBF0;
    margin: 25px;
    float: left;
}
.card.todos_lists .card-content {
    padding: 20px;
    border:none;
}
.todos_lists textarea {
    width: 660px;
    height: 220px;
    background-color: white;
}
